{% extends "EZCoreBundle:default/Layout:"~ template ~".html.twig" %}

{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block extaz_body %}
    <div class="container-site">
        <div class="rows">
            <div class="col-md-12">
                <div class="content">
                    <div class="title-log">Mon profil</div>
                    {% trans_default_domain 'FOSUserBundle' %}

                    <div class="fos_user_user_show">
                        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}