{% for bundle in bundles %}

    {% if bundle['admin']['display'] == true  %}
        {% if bundle|length - 4 > 0 %}
            <li class="treeview">
                <a href=""><i class="{{ bundle['admin']['icon'] }}"></i> <span>{{ bundle['admin']['name'] }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                {% for i in 0..bundle|length - 4  %}
                    <li><a href="{{ bundle['admin'][i]['path'] }}">{{ bundle['admin'][i]['name'] }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li><a href="{{ bundle['admin']['path'] }}"><i class="{{ bundle['admin']['icon'] }}"></i> <span>{{ bundle['admin']['name'] }}</span></a></li>
        {% endif %}
    {% endif %}

{% endfor %}