{% for bundle in bundles %}

    {% if bundle['default']['display'] == true %}
        {% if bundle['default']|lenght - 3 > 0 %}
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ bundle['default']['name'] }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        {% for i in 0..bundle['default']|lenght-3 %}

                        <a href="{{ bundle['default'][i]['path'] }}">{{ bundle['default'][i]['name'] }}</a>

                        {% endfor %}
                    </li>
                </ul>
            </li>

        {% endif %}
        <li><a href="{{ bundle['default']['path'] }}">{{ bundle['default']['name'] }}</a></li>
    {% endif %}

{% endfor %}