{% for bundle in bundles %}

    {% if bundle['admin']['display'] == true  %}
        {% if bundle['admin']|length - 4 > 0 %}
            <li class="treeview">
                <a href=""><i class="{{ bundle['admin']['icon'] }}"></i> <span>{{ bundle['admin']['name'] }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                {% for i in 0..bundle['admin']|length - 5  %}
                    <li {% if app.request.attributes.get('_route') ==  bundle['admin'][i]['path'] %} class="active" {% endif %}><a href="{{ path(bundle['admin'][i]['path']) }}">{{ bundle['admin'][i]['name'] }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li><a href="{{ path(bundle['admin']['path'])}}"><i class="{{ bundle['admin']['icon'] }}"></i> <span>{{ bundle['admin']['name'] }}</span></a></li>
        {% endif %}
    {% endif %}

{% endfor %}
