{% for bundle in bundles %}

    {% if bundle|length - 2 > 0 %}
        <li class="treeview">
            <a href=""><i class="{{ bundle['icon'] }}"></i> <span>{{ bundle['name'] }}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
            {% for i in 0..bundle|length - 3  %}
                <li><a href="#">{{ bundle[i] }}</a></li>
            {% endfor %}
            </ul>
        </li>
    {% else %}
        <li><a href=""><i class="{{ bundle['icon'] }}"></i> <span>{{ bundle['name'] }}</span></a></li>
    {% endif %}

{% endfor %}